aiosignal==1.3.1
anyio==3.6.2
asyncmy==0.2.7
attrs==23.1.0
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cryptography==40.0.2
fastapi==0.95.1
frozenlist==1.3.3
greenlet==2.0.2
h11==0.14.0
idna==3.4
multidict==6.0.4
pycparser==2.21
pydantic==1.10.7
PyMySQL==1.0.3
python-dotenv==1.0.0
sniffio==1.3.0
SQLAlchemy==2.0.12
SQLAlchemy-Utils==0.41.1
starlette==0.26.1
typing==3.7.4.3
typing-extensions==4.5.0
uvicorn==0.22.0
yarl==1.9.2
